.certifications__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    height: auto;
}

.certifications__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.img-certificactions {
    height: 330px;
    width: 450px;
}

.certifications__item-image {
    border-radius: 1.5rem;
    overflow: hidden;   
    background-size: cover;
}

.certifications__item h3 {
    margin: 2rem 0;
}

.certifications__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
}

.certifications__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem; 
    width: 100%;
    margin-left: 30%;
}

.certifications__item-content {
    height: auto;
}

@media screen and (max-width: 1024px){
    .certifications__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .certifications__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}